<H1>Inverted Method</H1>

{{#each model as |recipe|}}
<div>
  <h2 style="font-size:medium">{{recipe.title}}</h2>
  <div>
    {{recipe.coffeeVolume}} scoops of coffee with a {{recipe.coffeeGrind}} grind.
  </div>
  <div>
    {{recipe.waterVolume}} shots water at {{recipe.waterTemp}} degrees
  </div>
</div>
{{/each}}
